<h2>Stored URLs</h2>

<table>

    <thead>

        <tr>

            <th>Short Code</th>
            <th>Original URL</th>
            <th>Clicks</th>
            <th>Created</th>
            <th>Copy</th>
            <th>Expiry</th>

        </tr>

    </thead>

    <tbody>

        <tr *ngFor="let url of urls">

            <td>

            <a
                [href]="
                'http://localhost:8080/'
                + url.shortCode
                "
                target="_blank">

                {{ url.shortCode }}

            </a>

            </td>

            <td>
                {{ url.originalUrl }}
            </td>

            <td>
                {{ url.clickCount }}
            </td>

            <td>
                {{ url.createdAt | date : 'dd MMM yyyy'}}
            </td>

            <td>

                <button
                    (click)="copyUrl(
                    url.shortCode
                    )">

                    Copy

                </button>

            </td>

            <td>

                <span
                    *ngIf="url.expiryDate">

                    {{ url.expiryDate
                        | date :
                        'dd MMM yyyy HH:mm' }}

                </span>

                <span
                    *ngIf="!url.expiryDate">

                    Never

                </span>

            </td>

        </tr>

    </tbody>

</table>