* {

    box-sizing: border-box;
}

body {

    margin: 0;

    font-family:
        Inter,
        Segoe UI,
        sans-serif;

    background: #f8fafc;

    color: #1e293b;
}

html {

    scroll-behavior: smooth;
}